<!DOCTYPE html>
<html>
<head>
  <title>Conversion rate of Oscar nominees</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css"></link>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
